* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.footer {
  margin-top: 120px;
  padding: 40px 0 56px;
  background-color: #242424;
}
.footer-logo {
  display: block;
  margin: 0 auto;
}
.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 64px;
}
.footer-menu {
  width: 476px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
}
.footer-menu-conditions {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 12px;
}
.footer-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-item a:hover {
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #7a7d8c;
}
.footer-item:not(:first-child):before {
  content: "•";
  color: #828282;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.footer-item-conditions:not(:first-child):before {
  margin-left: -10em;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
}
.footer-social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 12px;
}
.footer-social-link {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #444753;
  border-radius: 50%;
  padding: 8px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-social-link:hover {
  border: 1px solid #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-social-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}
.footer-contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7a7d8c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.footer-contacts-item a {
  text-decoration: none;
  color: #7a7d8c;
}
.footer-contacts-item a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}
.footer-contacts-item:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}
.website-rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #7a7d8c;
}
.payments {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px;
}
.payments-link {
  text-decoration: none;
}
