.form {
  display: flex;
  justify-content: center;
  align-items: center;
  &-choice {
    width: 428px;
    margin: 30px auto;
  }
  &-item {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
    border-bottom: 1px solid #f2f2f2;
  }
}

label {
  font-weight: 600;
  font-size: 18px;
  color: #242424;
  display: block;
}

input[type="range"] {
  display: block;
  margin: 51px auto 0;
  width: 380px;
  background: #ecedee;
  border-radius: 2px;
  border: none;
  &::-webkit-slider-runnable-track {
    height: 4px;
    border: 1px solid #ecedee;
    background-color: #4e5364;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;
}
.captions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.caption {
  font-weight: 500;
  font-size: 16px;
  margin-top: 35px;
  color: #828282;
  p {
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    color: #242424;
    border-bottom: 1px solid #ecedee;
    padding-bottom: 8px;
  }
}

.color {
  &-choice {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-top: 15px;
  }
}
.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  &:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
  }
  &-white:before {
    background-color: #fff;
    border: 0.03rem solid black;
  }
  &-black:before {
    background-color: #242424;
  }
  &-red:before {
    background-color: #e95050;
  }
  &-purple:before {
    background: linear-gradient(270.95deg, #888bf4 0%, #5151c6 100%);
  }
  &-blue:before {
    background-color: #111188;
  }
  &-darkgrey:before {
    background-color: rgba(51, 51, 51, 0.8);
  }
  &-lightgrey:before {
    background-color: #ecedee;
    border: 0.03rem solid black;
  }
}

.button {
  display: block;
  width: 365px;
  height: 51px;
  margin: 0 auto;
  padding: 16px 68px;
  background: #4e5364;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s all;
  &:hover {
    background-color: #bdbdbd;
    color: #242424;
    transition: 0.5s all;
  }
}
