.header {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
  }
  &-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
    &-name {
      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  &-delivery {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #bdbdbd;
  }
  &-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }
  &-contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 0.7rem;
  }
  &-phone {
    &-link {
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #242424;

      &:hover {
        color: #bdbdbd;
        transition: all 0.5s;
      }
    }
  }
  &-schedule {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #bdbdbd;
  }
}

.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;

    img {
      width: 19px;
      height: 19px;
    }
  }
  &-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #828282;
    &:hover {
      color: #bdbdbd;
      transition: all 0.5s;
    }
  }
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  &-options {
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
  }
  &-choice {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #828282;
  }
}

.subheader {
  background-color: #383b47;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
  }
  &-category,
  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    &-link {
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.01em;
      color: #ffffff;
      cursor: pointer;
      transition: 0.3s all;
    }
    &-item {
      &:hover {
        background-color: #4e5364;
        transition: 0.3s all;
      }
    }
  }
  &-category {
    &-item {
      padding: 18px 30px;
      cursor: pointer;
    }
  }
  &-nav {
    &-item {
      padding: 18px 20px;
      cursor: pointer;
    }
    &-link {
      font-size: 13px;
    }
  }
}

.active {
  background: #0d7377;
}
